.project-background {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 160px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
  padding: 16px 0;
}

.project-background:hover {
  transform: translateX(8px);
  color: #480952;
  background-image: linear-gradient(to left, white, #fffff0);
}

.project-image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.project-info {
  flex: 2;
  padding: 16px;
}
