.info {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: 16px 0px;
}

.info-bar {
}

.info-item {
}

.info-link {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: #666666;
  text-decoration: none;
  font-weight: 400;
}

.nav-background {
}

.nav-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: gray;
}
